engine-strict=true
auto-install-peers=true
resolution-mode=highest
prefer-workspace-packages=true
node-linker=hoisted
package-lock=false
lockfile=true
save-workspace-protocol=rolling
use-lockfile-v6=false
npm=false
legacy-peer-deps=false
strict-peer-dependencies=false
shamefully-hoist=true 